<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">Agent Services</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i
              class="bx bx-home-alt text-danger"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List View</li>
      </ol>
    </nav>
  </div>
  <div class="ms-auto">
    <button type="button" class="btn btn-danger" [routerLink]="['/admin/services/add']"><i class="fadeIn animated bx bx-user"></i>
      + Add Service</button>
  </div>

</div>


<div class="row">
  <div class="col-xl-12 mx-auto">

    <div class="card">
      <div class="card-body">
        <div class="table-responsive">

          <table class="table table-bordered mb-0">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Icon Class</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="servicesList.length>0">
              <tr *ngFor="let service of servicesList  ">
                <td scope="row">{{service?.name}}</td>
                <td>{{service?.description || 'NA'}}</td>
                <td>{{service?.iconClass || 'NA'}}</td>
                <td width="10%">
                  <button (click)="isActive(service)" class="btn btn-sm"
                    [ngClass]="service.status == 'Active' ? 'btn-danger' : 'btn-secondary' ">
                    {{service.status}}</button>
                </td>
                <td width="10%">
                  <a href="javascript:" [routerLink]="['/admin/services/edit', service._id]"><i
                      class="text-danger fadeIn animated bx bx-edit-alt"></i></a>
                  | <a href="javascript:" (click)="showDialog(service._id)"><i
                      class="text-danger fadeIn animated bx bx-trash-alt"></i></a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="servicesList.length<=0">
              <tr class="text-center">
                <td colspan="7">No Entries</td>
              </tr>
            </tbody>

          </table>

          <div *ngIf="servicesList.length > 0" class="row justify-content-center m-0 pt-3">
            <div class="col-auto d-flex justify-content-center text-center">
              <ngb-pagination (pageChange)="getPageFromService($event)" [pageSize]="pageSize" [(page)]="page"
                [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true">
              </ngb-pagination>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
