<input autocomplete="off" [value]="selectValue.value || defaultValue.value || ''" (blur)="blurHandler($event)" (keydown)="handleArrowKeys($event)" [placeholder]="placeholder" type="text"class="form-control"/>
<ul class="list-group searchItems comboview w-100" *ngIf="showResults" style="position: absolute; z-index: 99999;">
  <ng-container *ngFor="let option of list">
    <li class="list-group-item cursor-pointer  " (click)="navigate(option)" [ngClass]="option.selected ? 'active' : '' "  [value]="option.key">{{option.value}}</li>
  </ng-container>
</ul>

