<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
  <div class="breadcrumb-title pe-3">Transcribe</div>
  <div class="ps-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i
              class="bx bx-home-alt text-primary"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Transcripted Content</li>
      </ol>

    </nav>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="tab-content" id="danger-pills-tabContent">

        <div class="tab-pane fade show active" id="danger-pills-home" role="tabpanel">

          <div class="card border-top border-0 border-4 border-primary">
            <div class="card-body">

               <div class="row">

                 <div class="col-6 ">
                   <label class="text-capitalize mt-1"  *ngIf="fileName"><b class="filename-font">File :</b> {{fileName}}</label>
                  <audio controls *ngIf="audioSrc" class="mt-2">
                  <source [src]="audioSrc" type="audio/mpeg">
                </audio>
                </div>
                <div class="col-4 my-auto">
                </div>
                <div class="col-2 my-auto">
                <select class="form-select" (change)="onLanguageChange($event)" [(ngModel)]="lang">
                  <option value="">Choose Language</option>
                  <option [value]="language.value" *ngFor="let language of availableLanguages">{{language.name}}</option>
                </select>
              </div>
                 <div class="col-6 transcribed-content-non-edit" [innerText]="content||''"></div>

                 <div class="col-6">
                  <div class="form-group">
                    <b>Transcribed Content</b>
                    <a class="position-relative audio_right"  role="button">
                      <i class='bx bx-copy bx-sm' (click)="copyToClipBoard(content)"></i>
                    </a>
                    <div class="form-group mt-1">
                      <textarea class="form-control rounded-0" id="textarea-field" rows="4" [value]="newcontent||''" (input)="onContentChange($event)"></textarea>
                    </div>
                  <div *ngIf="submitted" class="invalid-feedback">
                    <div>Content should be valid</div>
                  </div>
                  </div>
                  <div class="col-md-12 my-3 text-right">
                    <button class="btn btn-primary text-white px-5" [disabled]="dataservice.isAPICalling" (click)="onSubmit()">
                      Update
                      <span *ngIf="dataservice.isAPICalling" class="spinner-grow spinner-grow-sm" role="status"
                        aria-hidden="true"></span>
                    </button>
                  </div>
                 </div>
               </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="tab-content" id="danger-pills-tabContent" *ngIf="addtionalFields">

    <div class="tab-pane fade show active" id="danger-pills-home" role="tabpanel">

      <div class="card border-top border-0 border-4 border-primary">
        <div class="card-body">
          <div class="d-block custom-margin-bottom" >
            <b class="custom-padding">Name:</b>
            <div class="d-inline">
              {{addtionalFields.customer?.name || addtionalFields.Name || 'NA'}}
            </div>
          </div>
          <div class="d-block custom-margin-bottom" *ngIf="addtionalFields?.jobType">
            <b class="custom-padding">Type:</b>
            <div class="d-inline">
              <app-inlineedit title="Edit Type" [doneAction]="updateResult" [item]="{key:'jobType', value:addtionalFields?.jobType}"></app-inlineedit>

            </div>
          </div>
          <div class="d-block custom-margin-bottom" *ngIf="addtionalFields?.personType">
            <b class="custom-padding">Category:</b>
            <div class="d-inline">
              <app-inlineedit title="Edit Category" [doneAction]="updateResult" [item]="{key:'personType', value:addtionalFields?.personType}"></app-inlineedit>
            </div>
          </div>

          <div class="d-block custom-margin-bottom" >
            <b class="custom-padding-bottom">Address:</b>
            <div class="d-inline">
              {{addtionalFields.customer?.location?.locationName || addtionalFields.address || 'NA'}}
            </div>
          </div>
          <div class="d-block custom-margin-bottom" *ngIf="addtionalFields?.instruction">
            <b class="custom-padding">Instructions:</b>
            <div class="d-inline">
              <app-inlineedit title="Edit Instructions" controltype="textarea" [doneAction]="updateResult" [item]="{key:'instruction', value:addtionalFields?.instruction}"></app-inlineedit>
            </div>
          </div>
          <div class="d-block custom-margin-bottom" *ngIf="addtionalFields?.Quantity">
            <b class="custom-padding">Quantity:</b>
            <div class="d-inline">
              <app-inlineedit title="Edit Quantity" controltype="textarea" [doneAction]="updateResult" [item]="{key:'Quantity', value:addtionalFields?.Quantity}"></app-inlineedit>
            </div>
          </div>
          <div class="d-flex" *ngIf="departments" [formGroup]="editJob">
            <b class="custom-padding">Concerned Department:</b>
            <div class="custom-margin">
              <app-multiselect formControlName="concernedDepartment"  [defaultvalue]="departments" (onblurEvent)="updateConcernedDeptField()" [list]="department" [placeholder]="'Select Departments'"></app-multiselect>
            </div>
          </div>
            <div class="d-block custom-margin-bottom" *ngIf="addtionalFields.phoneNo">
              <b class="custom-padding">Phone No:</b>
              <div class="d-inline">
                {{addtionalFields.phoneNo}}
              </div>
            </div>

          <div class="d-block custom-margin-bottom" *ngIf="addtionalFields?.createdAt">
            <b class="custom-padding">Date:</b>
            <div class="d-inline">
              {{addtionalFields?.createdAt | dateformat :'MMM DD YYYY hh:mm A'}}
            </div>
          </div>
          <div class="d-block custom-margin-bottom" *ngIf="addtionalFields?.Nature">
            <b class="custom-padding">Nature:</b>
            <div class="d-inline">
              <app-inlineedit title="Edit Nature" controltype="textarea" [doneAction]="updateResult" [item]="{key:'Nature', value:addtionalFields?.Nature}"></app-inlineedit>
            </div>
          </div>
          <div class="d-block custom-margin-bottom" *ngIf="addtionalFields?.productType">
            <b class="custom-padding">Product:</b>
            <div class="d-inline">
              <app-inlineedit title="Edit Product" controltype="textarea" [doneAction]="updateResult" [item]="{key:'productType', value:addtionalFields?.productType}"></app-inlineedit>
            </div>
          </div>
          <div class="d-flex custom-margin-bottom" *ngIf="staffs" [formGroup]="editJob">
            <b class="custom-padding">Staff Concerned:</b>
            <div class="custom-margin">
              <app-multiselect formControlName="staff"  [defaultvalue]="staffs" (onblurEvent)="updateConcernedStaffField()" [list]="staff" [placeholder]="'Select Staff'"></app-multiselect>
            </div>
          </div>
          <div class="d-block custom-margin-bottom" *ngIf="addtionalFields?.Message">
            <b class="custom-padding">Message:</b>
            <div class="d-inline">
              <app-inlineedit title="Edit Message" controltype="textarea" [doneAction]="updateResult" [item]="{key:'Message', value:addtionalFields?.Message}"></app-inlineedit>
            </div>
          </div>


    </div>
  </div>
  </div>
  </div>


