.modal-header{
    background-color: #574C88;
    color: white
}

.btn-close{
    background: transparent url('../../../assets/images/icons/close.png') center/1em auto no-repeat;
    opacity: 1 !important;
}
