 .same-list {
    background-image:  url('multiple-bg.jpg');

    background-position: center;
    background-size: cover;
    border-radius: 8px;
} 




.button-text {
    font-weight: 500;
    font-size: 11px;
    border-radius: 38px;
}

/**.box-can-one{ background-color: #ef93b7; border-radius: 8px; } .box-can-two{ background-color: #96b8f0; }**/
.inner-text {
    font-weight: 600;
    font-size: 14px;
}

.dynamic-text {
    font-size: 27px;
}

.c1 {
    background-color: #ef93b7;
    border: 1px solid #cb7d9c;
}

.c2 {
    background-color: #96b8f0;
    border: 1px solid #80a1d9;
}

.c3 {
    background-color: #dbbd6c;
    border: 1px solid #ba9d50;
}

.c4 {
    background-color: #a2cf72;
    border: 1px solid #7fa35a;
}

.c5 {
    background-color: #87c8cc;
    border: 1px solid #629b9f;
}

.c6 {
    background-color: #b696f0;
    border: 1px solid #9577cb;
}

.c7 {
    background-color: #db8b6c;
    border: 1px solid #b16c52;
}

.c8 {
    background-color: #e97a7a;
    border: 1px solid #c26060;
}

.c9 {
    background-color: #cc84cf;
    border: 1px solid #a55893;
}

.c10 {
    background-color: #a58585;
    border: 1px solid #735656;
}

.c11 {
    background-color: #6b85d0;
    border: 1px solid #556baa;
}

.c12 {
    background-color: #77ca77;
    border: 1px solid #66b166;
}

.box-can-one {
    border-radius: 8px;
}

@media only screen and (max-width: 1366px) {
    .seat-box{
        font-size: 18px;
    }
    
  }
  @media only screen and (max-width: 1200px) {
    .seat-box{
        font-size: 14px;
    }
    .service-pro{
    font-size: 11px;
    }
    
  }

  @media only screen and (max-width: 992px) {
    .seat-box{
        font-size: 18px;
    }
    .service-pro{
    font-size: 14px;
    }
}

