<!-- <qr-code
  id="qr1"
  contents="https://bitjson.com/"
  module-color="#1c7d43"
  position-ring-color="#13532d"
  position-center-color="#70c559"
  mask-x-to-y-ratio="1.2"
  style="
    width: 200px;
    height: 200px;
    margin: 2em auto;
    background-color: #fff;
  "
>
  <img src="assets/1.2-x-to-y-ratio-icon.svg" slot="icon" />
</qr-code> -->

<qr-code
      id="qr1"
      contents="bitcoincash:?r=https://bitjson.com/example-url"
      module-color="#1c7d43"
      position-ring-color="#13532d"
      position-center-color="#70C559"
      style="width: 60vw; height: 60vw; background-color: #fff"
    >
      <!-- <img src="assets/images/kiki.jpg" slot="icon" /> -->
    </qr-code>
