
b {
    font-size: 15px !important;
}

.message-overflow-class div {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis
}

tr td {
    font-size: 14px !important;
}
.box-icon-size{
    font-size: 12px !important;
}
.dev_btn{
    font-size:15px;
}
.cursor-pointer{
    cursor:pointer;
}